:root {
  --main-color: #0d47a1;
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #00c853;
  --success-color__light: #00e676;
  --error-color: #d50000; /* red accent-4 */
  --error-color-light: #ffcdd2; /* red lighten-4 */
  --black-color: #333333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1em;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
}

@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
