:root {
  --main-color: #0d47a1;
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #00c853;
  --success-color__light: #00e676;
  --error-color: #d50000; /* red accent-4 */
  --error-color-light: #ffcdd2; /* red lighten-4 */
  --black-color: #333333;
  --grey-lighten-2: #e0e0e0; /*  grey lighten-2 */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: white;
  background-color: var(--black-color);
}

.grid {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: repeat(3, 100px);
  grid-gap: 1em;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card,
.toast,
.dropdown-content,
.collapsible,
.sidenav {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 4px -1px,
    rgba(255, 255, 255, 0.14) 0px 4px 5px 0px,
    rgba(255, 255, 255, 0.12) 0px 1px 10px 0px !important;
}

@media (min-width: 600px) {
}

@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
