.grid-container {
  display: grid;

  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  height: 100vh;
}

header {
  grid-area: header;
}

.page-content {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.page-footer {
  padding-top: 0;
}

.brand-logo {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Toastify__toast-container {
  font-size: 1.6rem;
  color: var(--black-color);
}
.Toastify__toast--default {
}
.Toastify__toast--info {
}
.Toastify__toast--success {
  background: var(--success-color__light);
}
.Toastify__toast--warning {
}
.Toastify__toast--error {
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "header"
      "main"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      1fr /* Content */
      auto; /* Footer */
  }
}
