.dark-theme {
  --theme-background: var(--black-color);
  --theme-text: white;
  --theme-box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14),
    0 3px 1px -2px rgba(255, 255, 255, 0.12),
    0 1px 5px 0 rgba(255, 255, 255, 0.2);
  --theme-box-shadow-hover: 0 8px 17px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.light-theme {
  --theme-background: white;
  --theme-text: var(--black-color);
  --theme-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --theme-box-shadow-hover: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dark-theme,
.light-theme,
.page-content {
  height: 100%;
  color: var(--theme-text);
  background-color: var(--theme-background);
}

.grid-container {
  display: grid;

  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header {
  grid-area: header;
}

.page-content {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.page-footer {
  padding-top: 0;
}

.brand-logo {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-switch-btn {
  background-color: transparent;
}

.theme-switch-btn .material-icons {
  color: white;
}

/* Overrite Libraries Styles */
.card,
.toast,
.dropdown-content,
.collapsible,
.sidenav {
  box-shadow: var(--theme-box-shadow);
}

.hoverable:hover {
  box-shadow: var(--theme-box-shadow-hover);
}

.card-content {
  background-color: var(--theme-background);
}

.input-field > input,
.input-field > label {
  color: var(--theme-text);
}

.collection .collection-item {
  background-color: var(--theme-background);
  color: var(--theme-text);
}

.collection a.collection-item {
  color: var(--theme-text);
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: var(--theme-text);
}

/* Overwrite Toastify__toast styles */
.Toastify__toast-container {
  font-size: 1.6rem;
  color: var(--black-color);
}

.Toastify__toast--success {
  background: var(--success-color);
  color: white;
}

.Toastify__toast--error {
  color: white;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "header"
      "main"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      1fr /* Content */
      auto; /* Footer */
  }
}
