.Categories .input-field {
  flex-basis: 50%;
  margin-top: 0;
}

.Categories .select-wrapper + label {
  top: -48px;
  font-size: 20px;
}

.Categories .select-wrapper input.select-dropdown {
  color: var(--theme-text);
}

.Categories .select-wrapper .caret {
  fill: var(--theme-text);
}

.Categories .dropdown-content {
  background-color: var(--theme-background);
}

.Categories .dropdown-content li > span {
  font-size: 16px;
  color: var(--theme-text);
}

.Categories .input-field > label {
  top: -10px;
  font-size: 16px;
}

.Categories .collection-item {
  display: flex;
  align-items: center;
}

.Categories .cat-inputs-form {
  width: 100%;
}

.Categories .collection-item button {
  margin-left: 2rem;
}

.Categories .category-actions-container {
  display: flex;
}

.Categories .category-actions-container {
  flex-grow: 1;
}
.Categories .category-actions-container .input-field {
  margin-bottom: 0;
  margin-right: 2rem;
}

.Categories .category-actions-container .input-field .input-group-header {
  font-size: 1.8rem;
}

.Categories .category-actions-container .input-field input {
  margin-bottom: 0;
}
