.Categories .input-field {
  flex-basis: 50%;
  margin-top: 0;
}

.Categories .select-wrapper + label {
  top: -48px;
  font-size: 20px;
}

.Categories .select-wrapper input.select-dropdown {
  color: var(--theme-text);
}

.Categories .select-wrapper .caret {
  fill: var(--theme-text);
}

.Categories .dropdown-content {
  background-color: var(--theme-background);
}
.Categories .dropdown-content li > span {
  font-size: 16px;
  color: var(--theme-text);
}
