.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home .section-title {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Home .back-to-initial-btn {
  margin-right: 2rem;
}

.Home span[role="img"] {
  margin-left: 1rem;
}

.Home .suggestion {
  flex-direction: column;
  color: var(--theme-text);
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Home .suggestion-btn {
  text-transform: unset;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: var(--theme-text);
}

.Home .join-btn {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.Home .connected-message {
}

.Home .connecting-message {
}

.Home .connection-error {
}

.Home .connected-message,
.Home .connecting-message,
.Home .connection-error {
  display: flex;
  font-size: 16px;
}

.Home .connection-error {
  margin-top: 20px;
  flex-direction: column;
}

.Home .connection-error button {
  margin-top: 20px;
}

.Home .connected-message p,
.Home .connecting-message p,
.Home .connection-error p {
  font-size: 16px;
}

.Home .connecting-message {
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.Home .connecting-message p {
  margin-right: 20px;
}

.Home .connected-message {
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.Home .connected-message p {
  margin: 0;
}
