.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home .section-title {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Home .back-to-initial-btn {
  margin-right: 2rem;
}

.Home span[role="img"] {
  margin-left: 1rem;
}

/* .Home .create-new-room-btn {
} */

.Home .input-field > label {
  color: black;
}

.Home .suggestion {
  flex-direction: column;
  color: var(--black-color);
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Home .suggestion-btn {
  text-transform: unset;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.Home .join-btn {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
