.Join {
  flex-direction: column;
}

.Join .join-room-btn {
  margin-top: 1rem;
}

.Join span[role="img"] {
  margin-left: 1rem;
}

.Join .create-new-room-btn {
  margin-bottom: 2rem;
}

.Join .or {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.Join .input-field > label {
  color: black;
}
