.RoomActions {
}

.RoomActions .buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}

.RoomActions .buttons-container button.room-action-btn {
  margin-bottom: 2rem;
  padding: 0 1.6rem;
}

.RoomActions .dropdown-content {
  background-color: var(--theme-background);
}

.RoomActions .dropdown-content li .edit-dropdown-btn {
  color: var(--theme-text);
}

.RoomActions .dropdown-content li:hover .edit-dropdown-btn,
.RoomActions .dropdown-content li.active .edit-dropdown-btn {
  color: var(--theme-background);
}

.RoomActions .edit-dropdown-btn {
  width: 100%;
  height: 100%;
}
